# Make a file call .env that has these pieces in it:
SLACK_TOKEN=SAMPLE_SLACK_TOKEN
SLACK_SIGNING_SECRET=SAMPLE_SIGNING_SECRET
PURPLEAIR_API_READ_KEY=SAMPLE_API_READ_KEY
#SILENT=true # This will swallow the slack posts and only output to stdout
#NODE_ENV=test # This will prevent monitoring from happening and run the app quickly
